* { 
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    user-select: none;  
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}

.inputBox {
    position: relative;
    width: 450px;
}

.inputBox h2 {
    font-size: 30px;
    color: #333333;
}

.inputBox input {
    position: relative;
    width: 100%;
    height: 60px;
    border: none;
    margin: 15px 0 20px; 
    background: transparent;
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: 2px;   
    box-sizing: border-box;
    border-radius: 8px;
    color: #333333;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
                inset 4px 4px 10px rgba(0, 0, 0, 0.5),
                inset -4px -4px 10px rgba(255, 255, 255,1),
                4px 4px 10px rgba(0, 0, 0, 0.5);
}

.inputBox input::placeholder {
    letter-spacing: 0px;
}

.inputBox #btn {
    position: relative;
    cursor: pointer;
    color: #f8f8f8;
    background: #333333;
    font-size: 24px;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
}

.inputBox #btn:active {
    background-color: #ff9f1c;

}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.50;
    flex-wrap: wrap;
    padding: 20px;
    margin: 30px;
    
}

.content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content-header h2 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    text-align: center;
    padding-right: 20px;
}

.content-text {
    display: flex;
    text-align: center;
    text-rendering: geometricPrecision;
}


.bgforme {
    background-image: url();
}

